<h1>Formulario de Alumnos</h1>

<form [formGroup]= 'formCliente' (ngSubmit)= "submit">
    <div class="datosCliente">

        <mat-form-field appearence="outline">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" formControlName="nombre" class="textBox">
        </mat-form-field>

        <mat-form-field appearence="outline">
            <mat-label>Apellido</mat-label>
            <input matInput type="text" formControlName="apellido" class="textBox">
        </mat-form-field>

        <mat-form-field appearence="outline">
            <mat-label>Edad</mat-label>
            <input matInput type="int" formControlName="edad" class="textBox">
        </mat-form-field>

    </div>

    <div class="enviar">

    <button type="submit" mat-raised-button (click)="enviar()">Enviar</button>
    </div>
    <!-- <div *ngFor="let persona of personas">
        <p>Nombre y Apellido: {{persona.nombre}} {{persona.apellido}}</p>
        <p>Edad: {{persona.edad}}</p>
        
    </div> -->

    
</form>