<mat-card>

    <div class="container" >
        <h1>Listado de Cursos</h1>
    
    
        <button mat-raised-button color="primary" [routerLink]="'/curso-component/new'">Crear Curso</button>
    
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
            <ng-container matColumnDef="nombreCurso">
                <th mat-header-cell *matHeaderCellDef> Nombre Curso </th>
                <td mat-cell *matCellDef="let element"> {{element.nombreCurso| titlecase}} </td>
            </ng-container>
    
            <ng-container matColumnDef="profesor">
                <th mat-header-cell *matHeaderCellDef> Profesor </th>
                <td mat-cell *matCellDef="let element"> {{element.profesor | titlecase}} </td>
            </ng-container>
    
            <ng-container matColumnDef="anyo">
                <th mat-header-cell *matHeaderCellDef> Año </th>
                <td mat-cell *matCellDef="let element"> {{element.anyo}} </td>
            </ng-container>
    
            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
            </ng-container>

            <ng-container matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let curso"> 
                    <button type="button" mat-raised-button color = "primary" (click)="editarCurso(curso._id)">editar</button> 
                </td>
            </ng-container>
            
            <ng-container matColumnDef="borrar">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let curso"> <button mat-raised-button color = "primary" (click)="borrarCurso(curso)" >borrar </button> </td>
                
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
    
    
        </table>
    
    </div>
    </mat-card>